<div class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide">
  <div class="mdui-toolbar mdui-color-theme">
    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}" *ngIf="auth?.user?.username !== null || 1"><i class="mdui-icon material-icons">menu</i></a>
    <!--<a (click)="home()" class="mdui-typo-headline">API Hanger</a>-->
    <a (click)="home()" class="mdui-typo-title">API Hanger</a>
    <nav *ngIf="auth?.user?.username !== null">
      <a class="mdui-btn" (click)="project()">项目</a>
    </nav>
    <div class="mdui-toolbar-spacer"></div>
    <nav *ngIf="auth?.user?.username === null">
      <a class="mdui-btn" (click)="login()">登录</a>
      <a class="mdui-btn" (click)="login()">注册</a>
    </nav>
    <nav *ngIf="auth?.user?.username !== null">
      <a class="mdui-btn">{{auth.user.username}}</a>
      <a class="mdui-btn" (click)="logout()">退出</a>
    </nav>
  </div>
</div>
