$primaryColorDark: #00796B;
$primaryColor: #009688;
$primaryColorLight: #B2DFDB;
$primaryColorText: #FFFFFF;
$accentColor: #00BCD4;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$dividerColor: #BDBDBD;

$fontSizeSmall: 12px;
$fontSizeNormal: 14px;
$fontSizeBig: 16px;
$fontSizeBigger: 18px;
$fontSizeBiggest: 36px;
