@import "../../../styles";

.category-list {
  border-right: 1px solid $dividerColor;
}

.category-list__title {
  box-sizing: border-box;
  height: 49px;
  padding: 15px 0;
  line-height: 18px;
  text-indent: 10px;
  font-size: $fontSizeBigger;
  border-bottom: 1px solid $dividerColor;
}

.category-list__items {
  overflow-y: auto;
}

.category-list__item {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: $fontSizeNormal;
}
