<section class="main login" style="padding-top: 64px;">
  <div>
    <form (ngSubmit)="onSubmit()">
      <input type="text" name="username" [(ngModel)]="username" #usernameRef="ngModel">
      <input type="password" name="password" [(ngModel)]="password" #passwordRef="ngModel">
      <button class="mdui-btn" type="submit">Login</button>
    </form>
    <!--<form (ngSubmit)="onSubmit()">-->
      <!--<mdl-textfield-->
        <!--type="text"-->
        <!--label="Username..."-->
        <!--name="username"-->
        <!--floating-label-->
        <!--required-->
        <!--[(ngModel)]="username"-->
        <!--#usernameRef="ngModel"-->
      <!--&gt;-->
      <!--</mdl-textfield>-->
      <!--<div *ngIf="auth?.hasError" >-->
        <!--{{auth?.errMsg}}-->
      <!--</div>-->
      <!--<mdl-textfield-->
        <!--type="password"-->
        <!--label="Password..."-->
        <!--name="password"-->
        <!--floating-label-->
        <!--required-->
        <!--[(ngModel)]="password"-->
        <!--#passwordRef="ngModel">-->
      <!--</mdl-textfield>-->
      <!--<button-->
        <!--mdl-button mdl-button-type="raised"-->
        <!--mdl-colored="primary"-->
        <!--mdl-ripple type="submit">-->
        <!--Login-->
      <!--</button>-->
    <!--</form>-->
  </div>
</section>
