.api {
  .api-inner {
    display: flex;
  }

  .category-list-wrapper {
    flex: 0 0 240px;
    width: 240px;
  }

  .api-list-wrapper {
    flex: 0 0 360px;
    width: 360px;
  }

  .api-detail-wrapper {
    flex: 1;
    overflow-x: auto;
  }
}
