<app-header></app-header>
<section class="main home mdui-drawer-body-left mdui-appbar-with-toolbar">
  <div class="mdui-drawer mdui-drawer-close" id="left-drawer">
    <ul class="mdui-list">
      <!--<a (click)="overview()">项目概览</a>-->
      <!--<a (click)="api()">接口管理</a>-->
      <li class="mdui-list-item mdui-ripple">项目概览</li>
      <li class="mdui-list-item mdui-ripple">接口管理</li>
    </ul>
  </div>
  <div class="hint">
    <span class="hint__text">API文档管理与测试系统</span>
    <div class="hint__btn-wrapper" *ngIf="auth?.user?.username === null">
      <div class="hint__btn" routerLink="/login">立即登录</div>
      <div class="hint__btn" routerLink="/login">注册账号</div>
    </div>
    <div class="hint__btn-wrapper" *ngIf="auth?.user?.username !== null">
      <div class="hint__btn" routerLink="/project">项目列表</div>
    </div>
  </div>
</section>
