@import "../../../styles";

.control-bar {
  display: flex;
  padding-top: 12px;
  height: 48px;
  border-bottom: 1px solid $dividerColor;
}

.category-button-wrapper {
  flex: 0 0 240px;
  width: 240px;
}

.api-button-wrapper {
  flex: 0 0 360px;
  width: 360px;
}
